* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: Helvetica, sans-serif;
}

body {
	color: white;
	background-color: #161616;
}

nav {
	/* border: 1px solid white; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 64px;

	height: 70px;
	padding: 0 10%;

	position: fixed;
	top: 0;
	width: 100%;

	background-color: #161616;
}

nav .logo {
	display: flex;
	width: 148px;
	flex-shrink: 0;
}

nav .logo-image {
	width: 100%;
}

nav a {
	text-decoration: none;
	color: white;
}

nav ul {
	display: flex;
	flex-direction: row;
	gap: 64px;

	font-size: 16px;
	color: white;
}

.products {
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin: 100px 0;
}

.products .title h2 {
	text-align: center;
	font-size: 24px;
}

.items {
  display: flex;
}

.wrapper {
	/* border: 1px solid rgb(1, 243, 243); */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	gap: 56px;
}

.image {
	width: 100%;
}

.item {
	width: 25%;
	background-color: #161616;
	box-shadow:
		-6px -6px 10px rgba(255, 255, 255, 0.1),
		6px 6px 20px #000000;
	border-radius: 10px;
	overflow: hidden;
}

.item:hover {
	box-shadow:
    inset -3px -3px 10px rgba(255, 255, 255, 0.15),
    inset 6px 6px 10px #000000;
}

.details {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 20px 20px 30px;

	font-size: 16px;
	font-weight: 800;
}

.item-price {
	color: #EA2828;
}

.item-detail {
	font-weight: 400;
	color: #BABABA;
	margin-top: 24px;
}

/* Laptops, larger tablets in landscape, and small desktop */
@media screen and (max-width: 1279px) {
  .wrapper {
    gap: 5vw;
  }
}

/* Tablets & larger phone */
@media screen and (max-width: 768px) {
  nav .logo {
    width: 120px;
  }
  nav ul {
    gap: 4vw;
    font-size: 14px;
  }

  .wrapper {
    padding: 0 20px;
    gap: 6vw
  }
  
  .item {
    width: 40vw;
  }
}

/* Smaller phone */
@media screen and (max-width: 480px) {
  nav {
    height: 60px;
    padding: 0 20px;
  }
  
  nav .logo {
    width: 110px;
  }

  nav ul {
    display: none;
  }
  
  .wrapper {
    padding: 0 10%;
    gap: 40px;
  }
  
  .item {
    min-width: 200px;
    width: 60vw;
  }
}